<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 100%">
  <a class="navbar-brand" href="#">Employe Record</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"  >
    <span class="align-items-start" style="display: flex;">
    <ul class="navbar-nav mr-auto" *ngFor="let menu of menuItems">
      <li class="nav-item active">
        <a class="nav-link" (click)="navigateTo(menu.url)">{{menu.name}}</a>
      </li>
    </ul>
    </span>
    <!-- dropDown Elements -->

    <span class="align-items-end" style="
    margin-left: 75%;
    margin-top: 14px;
    ">
    <span *ngFor="let option of options">
    <ul class="dropdown">
    <li>
    <a href="{{option.url}}">
    {{option.name}}
    </a>

    </li>
    </ul>

    </span>
    </span>
     <!-- dropDown Elements -->


  </div>
</nav>
