<div class="container base" [ngClass]="{'baseBlur':showForm}">
    <div>
     <button type="button" class="btn btn-primary" (click)="showForm=true">Add Book Info</button>
     <button type="button" class="btn btn-primary" (click)="delete()">Delete Info</button>
    </div>
    <div class="tableWrapper">
    <p-table #table [columns]="cols" [value]="virtualBooks"
        [scrollable]="true" [rows]="5" scrollHeight="350px"
        [virtualScroll]="true" (onLazyLoad)="loadDataOnScroll($event)"
        [lazy]="true" [totalRecords]="totalRecords" [virtualRowHeight]="34"
        [(selection)]="selectedBooks">
   <ng-template pTemplate="header" let-columns>

        <tr style="height:34px">
            <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height:34px">
            <td style="width: 3em">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:34px">
            <td *ngFor="let col of columns">
                <div class="loading-text"></div>
            </td>
        </tr>
    </ng-template>
  </p-table>
    </div>
  <br>
 </div>

<div *ngIf="showForm" class="formOverlay">
<div class="card m-3 formArea" >
    <div class="card-header">
    <div class="row">
        <div class="col-11">
         <h3>Enter Book Details</h3>
        </div>
        <div class="col-1">
        <h3 (click)="showForm=false" ><span class="fa fa-close"></span></h3>
        </div>
    </div>
    </div>
    <div class="card-body">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  novalidate>
            <div class="form-row ">
                <div class="form-group col">
                    <label>Book Name</label>
                    <input type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                    <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                        <div *ngIf="name.errors.required">Book Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row ">
              <div class="form-group col">
                <label>Author Name</label>
                <input type="text" name="author" class="form-control" [(ngModel)]="model.author" #author="ngModel" [ngClass]="{ 'is-invalid': f.submitted && author.invalid }" required >
                <div *ngIf="f.submitted && author.invalid" class="invalid-feedback">
                    <div *ngIf="author.errors.required">author is required</div>
                </div>
              </div>
            </div>
            <div class="form-row ">
              <div class="form-group col">
                <label>Price</label>
                <input type="text" name="price" class="form-control" [(ngModel)]="model.price" #price="ngModel" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" required >
                <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                    <div *ngIf="price.errors.required">Price is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
            <div class="form-group col saveAndCancelButton">
                <button class="btn btn-primary mr-1">Register</button>
                <button class="btn btn-secondary"  type="reset">Clear</button>
            </div>
            </div>
        </form>
    </div>
</div>
</div>
