
 .loading-text {
            display: block;
            background-color: #f1f1f1;
            min-height: 19px;
            animation: pulse 1s infinite ease-in-out;
            text-indent: -99999px;
            overflow: hidden;
 }
.formOverlay{
    position: fixed;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: default
}
.saveAndCancelButton {
    margin-left: 42%;
}
.formArea {

   width: 60%;

}
.cancelButton {
    margin-left: 90%;
}
.baseBlur{
    filter: blur(3px);
}
.alignX{
    margin-left: 98%;
}
.alignHeader{

    display: flex;
}
.ui-table-scrollable-body {

    height: 260px !important;
}