<div class="btn-group allignButtons" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" (click)="toggle('login')">Login</button>
  <button type="button" class="btn btn-secondary" (click)="toggle('reg')">Registration</button>
</div>
<div>
    <div *ngIf="showLoginPage">
        <app-login></app-login>
    </div>
    <div *ngIf="!showLoginPage">
        <app-registration
            (toggleHandler)="toggleEventHandler($event)">
        </app-registration>
    </div>
</div>
]