.alert {
    position: relative;
    float: right;
    width: 50%;
    z-index: 1;

}
.main {
    position: relative;
}
.stickyFooter{
  width:100%;
  height:44px;
  padding-top:10px;
  color:white;
  font-weight:bold;
  font-size:14px;
  text-align:center;
  position:fixed;
  bottom:0;
  left:0;
}